* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    text-align: center;
    color: rgb(20, 19, 20);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

.container {
    width: 90%;
    height: 300px;
    margin: 40px;
    padding: auto;
    border: 2px solid rgb(69, 73, 69);
}

h1 {
    font-size: 2rem;
    color: brown;
}

h2 { 
    color: rgb(22, 21, 21);
    text-align: center;
    font-weight: 700;
    padding: 10px;
}

.cabecera {
    background-color: rgb(183, 181, 184);
    border-radius: 5px;

}

.caracteristicas {
    color: tomato;
}