* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    text-align: center;
<<<<<<< HEAD
    color: rgb(130, 72, 196);
=======
    color: rgb(250, 164, 35);
>>>>>>> cabecera
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
}

.container {
    width: 90%;
    height: 300px;
    margin: 40px;
    padding: auto;
    border: 2px solid rgb(69, 73, 69);
}

.container__imagen {
   width: 400px; 
}

.imagen {
    width: 200px;
}

h1 {
    font-size: 2rem;
    color: brown;
}

h2 { 
    color: rgb(22, 21, 21);
    text-align: center;
    font-weight: 700;
    padding: 10px;
}

.cabecera {
    background-color: rgb(183, 181, 184);
    border-radius: 5px;

}

.caracteristicas {
    color: tomato;
}